body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000 url('/images/geo.png') center;
    background-size: 1em;
    
}
.banner{
    width: 100%;
    height: 50vh;
    background: url('/images/spirit_guide_logo+1.png') no-repeat center;
    background-size: contain;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(1px);
}
/* .geo{
    margin-top: -50px;
    width: 100%;
    height: 20vh;
    background: url('/images/geo.png') no-repeat center;
    background-size: contain;
} */
header h2{
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(.5px);
}

.info h3{
    color: #fff;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}